body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  background-image: url(White-Texture-HD-Backgrounds-1.jpg);

}


// h1 {
//   font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
//  color: red;
// }

a:link, a:visited {
    background-color: #ffffff;
    color: brown;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
}



.clock {
   width:  image-width;
   margin: 0 auto;
}


